html, body {
  margin: 0;
  padding: 0;
  align-content: center;
  text-align: center;
  color: #ebcf1e;
  background-color: #ba3e25;
 }
 canvas {
   display: block;
   margin-top: 0px;
   margin-left: auto;
   margin-right: auto;
 }